{{ $process := .Site.Data.process }}
<section id="process" class="py-1">
  <div class="container text-center">
    <h2 class="pt-5 h2">{{ $process.title }}</h2>
    <p class="text-muted pb-2">{{ $process.description }}<br>{{ $process.line }}</p>
    <a href="https://calendly.com/lizmillerfit" target="_blank" rel="noopener"  class="btn btn-success mr-3">Schedule a Call</a>
    <a href="/#contact" class="text-muted">Work with Me</a>

    <div style="margin-top:50px;" class="row justify-content-md-center">
      {{ range $process.content }}
        <div class="col-12 col-lg-3 col-md-6 col-sm-12 mb-4">
            <div class="pricing shadow">
              <div class="header bg-light p-3 text-dark">
                <div style="font-size:45px" class="icon mb-4 text-center"><i class="fa fa-{{ .icon }}"></i></div>
                <h5 class="h5 title">{{ .title }}</h5>
                <span style="font-size:26px" class="price my-3">{{ .step }}</span>
                <p class="text-muted">{{ .description }}</p>
              </div>
            </div>
        </div>
      {{ end }}
    </div>
</section>

<style type="text/css">
  #process{
    /* background: linear-gradient(165deg, #ffffff 0%,#ffffff 45%,#fc5f3c 45%,#ff55d3 90%, #ffffff 90%, #ffffff 100%); */
  }
</style>
